<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleExecutable</key>
	<string>Meltype</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.yksr-melt.inputmethod.Meltype</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Meltype</string>
	<key>CFBundleDisplayName</key>
	<string>Meltype</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2026 雪代 / Yukishiro. GPL-3.0-or-later</string>

	<key>InputMethodConnectionName</key>
	<string>io.github.yksr-melt.inputmethod.Meltype_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>MeltypeInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>MeltypeInputController</string>
	<key>TISInputSourceID</key>
	<string>io.github.yksr-melt.inputmethod.Meltype</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<!-- Caps Lock で Meltype と英数を行き来するための印 (Apple の日本語入力にもある。効くかは実機で確認) -->
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>tsInputMethodIconFileKey</key>
	<string>icon.tiff</string>
	<!-- 黒い M の形だけを使い、ダークモードでは白く出す (黒のままだと見えない) -->
	<key>TISIconIsTemplate</key>
	<true/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Hani</string>
		<string>Latn</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>io.github.yksr-melt.inputmethod.Meltype.Japanese</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>io.github.yksr-melt.inputmethod.Meltype.Japanese</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>icon.tiff</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>icon.tiff</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hira</string>
					<string>Kana</string>
					<string>Hani</string>
					<string>Latn</string>
				</array>
			</dict>
		<!-- 英数 (直接入力)。辞書のキーは標準名にする (Caps Lock 切替が標準名で判定されている可能性があるため) -->
		<key>com.apple.inputmethod.Roman</key>
		<dict>
			<key>TISInputSourceID</key>
			<string>io.github.yksr-melt.inputmethod.Meltype.Roman</string>
			<key>TISIntendedLanguage</key>
			<string>en</string>
			<key>tsInputModeScriptKey</key>
			<string>smRoman</string>
			<key>tsInputModeMenuIconFileKey</key>
			<string>icon-roman.tiff</string>
			<key>tsInputModeAlternateMenuIconFileKey</key>
			<string>icon-roman.tiff</string>
			<key>TISIconIsTemplate</key>
			<true/>
			<key>tsInputModePrimaryInScriptKey</key>
			<true/>
			<key>tsInputModeIsVisibleKey</key>
			<true/>
			<key>tsInputModeDefaultStateKey</key>
			<true/>
			<key>tsInputModeCharacterRepertoireKey</key>
			<array>
				<string>Latn</string>
			</array>
		</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>io.github.yksr-melt.inputmethod.Meltype.Japanese</string>
			<string>com.apple.inputmethod.Roman</string>
		</array>
	</dict>
</dict>
</plist>
